nav {
    background-color: red;
    height: 200px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    
}

.block {
    width: 325px;
    height: 100%;
    margin: 5px;
    filter: drop-shadow(2px 2px 2px black);
    border-radius: 5px;
}

.top {
    background-color: blue;
    padding: 5px;
}

.bottom {
    background-color: red;
    padding: 5px;
}