nav {
    background-color: red;
    height: 200px;
}

.block {
    width: 325px;
    height: 400px;
    margin: 25px;
}

.top {
    background-color: blue;
    padding: 5px;
}

.bottom {
    background-color: red;
    padding: 5px;
}